body {
    background-color: rgb(100, 154, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.main-header{
    display: block;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.click-section{
    display: block;
    margin: 5rem auto 5rem auto;
    text-align: center;
}

.autoclicker-section{
    display: block;
    margin: 5rem auto 5rem auto;
    text-align: center;
}

.donutmultiplier-section{
    display: block;
    margin: 5rem auto 5rem auto;
    text-align: center;
}

.nav-bar{
    position: absolute;
    top: 2px;
    left: 2px;
}

#company-info{
    display: block;
    margin: 5rem;
    text-align: center;
}

#inspiration-info{
    display: block;
    margin: 5rem;
    text-align: center;
}

#contact-info{
    display: block;
    text-align: center;
}

.contact-navbar{
    margin: 1rem;
}


.contact-list{
    list-style: none;
}

#reset{
    position: absolute;
    top: 2px;
    right: 2px;
}

#reset-button{
    background-color: rgb(151, 207, 151);
    box-shadow: 2px 2px;
    cursor: pointer;
    padding: 15px;
    margin: 10px;
    font-size: 15px;
    border: none;
}

#reset-button:hover{
    background-color: red;
}
button{
    font-weight: bold;
}


/* button:not(#donut-button, .dropdown-button){
    background-color: rgb(151, 207, 151);
    box-shadow: 2px 2px;
} */

#donut-button{
    border-radius: 50%;
    padding: 25px;
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px;
    animation-name: donut-button;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    font-size: large;
}



#donut-button:hover {
    border-radius: 20%;
    transition: 2s;
}

@keyframes donut-button{
    from{background-color: rgb(151, 207, 151);}
    to{background-color: red;}
    
}

.dropdown-button{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    padding: 15px;
    margin: 10px;
    font-size: 15px;
    border: none;
    box-shadow: 2px 2px black;
    
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(151, 207, 151);
    min-width: 150px;
    box-shadow: 0px 5px 5px 0px;
    z-index: 1;
    font-weight: bold;
}

#about-dev-button{
    border: none;
    display: block;
    position: absolute;
    background-color: rgb(151, 207, 151);
    min-width: 150px;
    box-shadow: 0px 5px 5px 0px;
    z-index: 1;
    color: rgb(0, 0, 0);
    padding: 10px 13px;
    text-decoration: none;
    text-align: left;
    font-size:medium;
    font-weight: bold;
}

#about-dev-button:hover{
    background-color: rgb(253, 77, 77);
}

.dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 10px 13px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(253, 77, 77);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-button {
    opacity: 0.7;
}

a{
    text-decoration: none;
    color: blue;
}

#autoclicker-button{
    background-color: rgb(151, 207, 151);
    box-shadow: 2px 2px;
    cursor: pointer;
}

#autoclicker-button:disabled{
    background: #999;
    color: #555;
    cursor: not-allowed;
}

#actautoclicker-button{
    background-color: rgb(151, 207, 151);
    box-shadow: 2px 2px;
    cursor: pointer;
}

#actautoclicker-button:disabled{
    background: #999;
    color: #555;
    cursor: not-allowed;
}

#donutmultiplier-button{
    background-color: rgb(151, 207, 151);
    box-shadow: 2px 2px;
    cursor: pointer;
}

#donutmultiplier-button:disabled{
    background: #999;
    color: #555;
    cursor: not-allowed;
}

#about-dev-modal{
    display: none;
    position: absolute;
    z-index: 1;
    padding: 3px 3px 3px 3px;
    left: 50px;
    top: 50px;
    right: 50px;
    height: auto;
    overflow: auto;
    background-color: rgb(0, 0, 0);
}

#modal-content{
    background-color: #fdf1f1;
    margin: 2px;
    padding: 10px;
    border: 1px solid #888;
    text-align: center;
}

#close{
    color: #aaaaaa;
    float: right;
    font-size: larger;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 10px;
}

#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



